<div class="attributes hidden" id="node_<%= node.object_id %>_attributes">
	<h2 class="lead"><%= node['name'] %></h2>
	<p class="documentation">
		<%= node.search("./*/xs:documentation").collect(&:text).first rescue "can't render documentation" %>
	</p>

	<dl class="dl-horizontal text-muted clearfix">
		<% for key, value in node.attributes %>
		<dt><%= key %></dt>
		<dd><%= value %></dd>
		<% end %>

		<%= partial :annotation, collection: node.search("./xs:annotation/xs:appinfo/*") rescue "can't render annotation" %>
	</dl>
	
	<%= partial :enumerations, locals: { node: node } unless node.search("./*/xs:enumeration").empty? %>
	<%= partial :code, locals: { node: node } %>
</div>