<% node ||= attributes %>
<% css_class ||= 'hidden' %>

<div class="attributes <%= css_class %>" id="node_<%= node.object_id %>_attributes">
	<h2 class="lead"><%= node['name'] %></h2>
	<p class="documentation">
		<%= node.search("./*/xs:documentation").collect(&:text).first rescue "can't render documentation" %>
	</p>

	<dl class="dl-horizontal text-muted clearfix">
		<% for key, value in node.attributes %>
		<dt><%= key %></dt>
		<dd><%= attributeValue(key, value) %></dd>
		<% end %>

		<%= partial :annotation, collection: node.search("./xs:annotation/xs:appinfo/*") rescue "can't render annotation" %>
	</dl>
		
	<%= partial :code, locals: { node: node } %>
	
	<% if include_node = @includes.search("//*[@name='#{node['type']}']") %>
		<%= partial :attributes, collection: include_node, locals: { css_class: 'secondary' } unless include_node.empty? %>
		<%= partial :enumerations, locals: { node: include_node } %>
	<% end %>
	
</div>